

.searchBox {
    /*background-image: url('/css/searchicon.png'); !* Add a search icon to input *!*/
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    background-color: white;
    color: grey;
    height: 35px;
}

