

.searchBox {
    /*background-image: url('/css/searchicon.png'); !* Add a search icon to input *!*/
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 14px; /* Add some padding */
    background-color: white;
    color: grey;
    height: 30px;
    border-color:  #f7f9fa;
    border-width: 1px;
    border-radius: 6px;
}

