<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/button.css">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Actions</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">BIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Nichts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nichts</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<h2>Maßnahmentabelle</h2>
<!-- Maßnahmentabelle -->
<form class="createButton" th:action="@{/createActionButton}" method="post">
    <button th:type="submit" class="btn btn-primary"> Neue Maßnahme erstellen
    </button>
</form>

<div class="contentTable">
    <table id="myTable" class="table">
        <thead class="thead-theme">
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Maßnahmen ID</th>
            <th scope="col">Maßnahmentitel</th>
            <th scope="col">Umsetzungsziel</th>
            <th scope="col">Schutzbedarf</th>
            <th scope="col">Komponente</th>
            <th scope="col">Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="action : ${actions}">
            <td>
                <div th:switch="${action.status}">
                    <p th:case="false" style="color: red"> Nicht Erledigt</p>
                    <p th:case="true" style="color: green"> Erledigt</p>
                </div>
            </td>
            <td th:text="${action.actionId}"/>
            <td th:text="${action.actionName}"/>
            <td th:text="${action.actionDueDate}"/>
            <td th:text="${action.protectionNeeds}"/>
            <td>
                <p th:each="component : ${action.getComponent()}">
                    <span th:text="${component.getComponentName()}"></span>
                </p>
            </td>
            <td>
                <form class="edit-delete" th:action="@{/action/{path}(path=${action.actionId})}" method="post">
                    <button th:type="submit" class="btn btn-primary-edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                </form>
                <form class="edit-delete" th:action="@{/deleteAction/{path}(path=${action.actionId})}" method="post">
                    <button th:type="submit" class="btn btn-danger-delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
                <form class="edit-delete" th:action="@{/changeStatus/{path}(path=${action.actionId})}" method="post">
                    <button th:type="submit" class="btn btn-primary" style="background: green"> Erldedigt
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="js/sort.js"></script>
</body>
</html>