<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/navbar.css">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        ::placeholder {
            color: white;
        }
    </style>

    <title>Components</title>

</head>

<body>
<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" th:href="@{/dashboard}">BIS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/toDoList}">To-Do Liste</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tabellen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
        <a class="ml-auto mr-1">
            <form class="log" th:action="@{/logout}" method="post">
                <button th:type="logout" class="btn btn-danger">Logout</button>
            </form>
        </a>
    </div>
</nav>

<!-- Komponententabelle -->
<div style="float: left">

    <form class="createButton" th:action="@{/addRequirementButton}" method="post">
        <button th:type="submit" class="btn btn-primary"> Anforderung hinzufügen
        </button>
    </form>
 <!--   <form class="createButton" th:action="@{/addActionButton}" method="post">
        <button th:type="submit" class="btn btn-primary"> Maßnahme hinzufügen
        </button>
    </form>-->
</div>

<div style="float: right;">
    <input type="text" id="inputComponent" onkeyup="myFunctionComp()" placeholder="Suche nach Komponente...">
    <br>
    <input type="text" id="inputProcess" onkeyup="myFunctionProc()" placeholder="Suche nach Prozess...">
    <br>
    <input type="text" id="inputPriority" onkeyup="myFunctionPrio()" placeholder="Suche nach Priorität...">
</div>
<div class="wrapper">
    <div class="contentTable">

        <div class="topLine">
            <div>
                <h2 style="font-weight: 700; font-size: 20px; text-align: left">Komponententabelle</h2>
            </div>
            <div>
                <form class="createButton" th:action="@{/createComponentButton}" method="post">
                    <button th:type="submit" class="btn btn-primary-newAdd">
                        <i class="fa fa-plus"><span style="font-weight: 500">Neuer Komponent</span></i>
                    </button>
                </form>
            </div>
        </div>

    <!--    <input type="text" id="inputComponent" onkeyup="myFunctionComp()" placeholder="Suche nach Komponente...">-->
    <!--    <br>-->
    <!--    <input type="text" id="inputProcess" onkeyup="myFunctionProc()" placeholder="Suche nach Prozess...">-->
    <!--    <br>-->
    <!--    <input type="text" id="inputPriority" onkeyup="myFunctionPrio()" placeholder="Suche nach Priorität...">-->
<div id="pdfBox">
        <table id="myTable" class="table">
            <thead class="thead-theme">
            <tr>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Komponenten ID</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Komponententitel</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Letzte Attacke</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Anzahl</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Priorität</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Prozess</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Maßnahmen</span></i></th>
                <th class="actionButtons" scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="component : ${components}">
                <div class="scrollable">

                <td class="textContent" th:text="${component.componentId}"/>
                <td class="textContent" th:text="${component.componentName}"/>
                <td class="textContent" th:text="${component.lastAttack}"/>
                <td class="textContent" th:text="${component.occurrence}"/>
                <td class="textContent" th:text="${component.priority}"/>
                <td class="textContent" th:text="${component.getProcess().processName}"/>

    <!--            <td>-->
    <!--                <p th:each="process : ${component.getProcess()}">-->
    <!--                    <span th:text="${process.processName}"></span>-->
    <!--                </p>-->
    <!--            </td>-->

                <td class="textContent">
                    <div>
                        <div class="addMore" style="margin-right: 10px">
                            <form class="edit-delete" th:action="@{/addActionButton(componentId=${component.componentId}, actionId=${component.getActions()})}" method="post">
                                <button th:type="submit" class="btn btn-primary-add">
                                    <i class="fa fa-plus" style="font-size: .75em; vertical-align: middle; margin-bottom: 3px"></i>
                                </button>
                            </form>
                        </div>
                        <div class="addMore">
                            <div style="vertical-align:middle" th:each="action : ${component.getActions()}">
                                <span th:text="${action.getActionName()}"></span>
                            </div>
                        </div>
                    </div>
                </td>
                </div>
                <td class="actionButtons">
                    <form class="edit-delete" th:action="@{/component/{path}(path=${component.componentId})}" method="post">
                        <button th:type="submit" class="btn btn-primary-edit">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </form>
                    <form class="edit-delete" th:action="@{/deleteComponent/{path}(path=${component.componentId})}"
                          method="post">
                        <button th:type="submit" class="btn btn-danger-delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>

            </tr>
            </tbody>

            <tfoot class="text-primary">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
    </div>
</div>
<p>
    <input type="button" value="Create PDF"
           id="btPrint" onclick="createPDF()" />
</p>

<script type="text/javascript" src="js/sort.js"></script>
<script type="text/javascript" src="js/search.js"></script>
<script type="text/javascript" src="js/filter.js"></script>
<script type="text/javascript" src="js/exportTable.js"></script>
</body>
</html>