<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Create Process</title>
    <meta content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="align-content: center">

    <h3>Einen Prozess bearbeiten</h3>
    <div style="border: 2px solid darkgrey; width: fit-content; align-content: center">
        <form th:action="@{/createProcess}" method="post" >
            <p>Name: <input name="processName" type="text" /></p>
            <p>Level: <input name="protectionLevel" type="text" /></p>
            <p>ComponentId: <input name="componentId" type="text" /></p>
            <p><input type="submit" value="Prozess erstellen" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>

</body>
</html>