<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" >
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Dangers</title>

  <style>
    .processTable{
      margin: 100px;
      text-align: center;
    }
  </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">BIS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Nichts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nichts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/process}">Prozess</a>
          <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
          <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
          <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
          <a class="dropdown-item" href="#">Maßnahmen</a>
          <a class="dropdown-item" th:href="@{/user}">Benutzer</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<h2>Gefahrentabelle</h2>
<form th:action="@{/createDangerButton}" method="post" >
  <button th:type="submit" class="btn btn-primary" > Neue Gefahr erstellen
  </button>
</form>
<div class="dangerTable">
  <table class="table">
    <thead class="thead-theme">
    <tr>
      <th scope="col">Danger ID</th>
      <th scope="col">Danger Name</th>
      <th scope="col">Danger Level</th>
      <th scope="col">Requirement ID</th>
      <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="danger : ${dangers}">
      <td th:text="${danger.dangerId}" />
      <td th:text="${danger.dangerName}" />
      <td th:text="${danger.dangerLevel}" />
<!--      <td th:text="${danger.getRequirement().requirementId}" />-->
      <td> <form th:action="@{/danger/{path}(path=${danger.dangerId})}" method="post" >
        <button th:type="submit" class="btn btn-primary" > Edit
        </button>
      </form> </td>
      <td> <form th:action="@{/deleteDanger/{path}(path=${danger.dangerId})}" method="post" >
        <button th:type="submit" class="btn btn-primary" style="background: red"> Delete
        </button>
      </form> </td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>