<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/navbar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/navbar.css">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Dangers</title>

</head>

<body>

<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" th:href="@{/dashboard}">BIS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/toDoList}">To-Do Liste</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tabellen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
        <a class="ml-auto mr-1">
            <a th:href="@{/newPassword}" style="margin-right: 30px; font-size: 1.33em">
                <i class="fa fa-user"></i>
            </a>
            <form class="log" th:action="@{/logout}" method="post">
                <button th:type="logout" class="btn btn-danger">Logout</button>
            </form>
        </a>
    </div>
</nav>


<!--<form class="createButton" th:action="@{/addDangerButton}" method="post">
    <button th:type="submit" class="btn btn-primary"> Gefahr hinzufügen
    </button>
</form>-->

<div class="wrapper">
    <div class="contentTable">

        <div class="topLine">
            <div>
                <h2 style="font-weight: 700; font-size: 20px; text-align: left">Gefahrentabelle</h2>
            </div>
            <div>
                <form class="createButton" th:action="@{/createDangerButton}" method="post">
                    <button th:type="submit" class="btn btn-primary-newAdd">
                        <i class="fa fa-plus"><span style="font-weight: 500">Neue Gefahr</span></i>
                    </button>
                </form>
            </div>
        </div>
        <table id="myTable" class="table">
            <thead class="thead-theme">
            <tr>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Gefahr ID</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Gefahrtitel</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Gefahrlevel</span></i></th>
                <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Anforderungen</span></i></th>
                <th class="actionButtons" scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="danger : ${dangers}">
                <div class="scrollable">
                    <td class="textContent" th:text="${danger.dangerId}"/>
                    <td class="textContent" th:text="${danger.dangerName}"/>
                    <td class="textContent" th:text="${danger.dangerLevel}"/>
                    <td class="textContent">
                        <div>
                            <div class="addMore" style="margin-right: 10px">
                                <form class="edit-delete" th:action="@{/addDangerButton(requirementId=${danger.getRequirements()}, dangerId=${danger.dangerId})}" method="post">
                                    <button th:type="submit" class="btn btn-primary-add">
                                        <i class="fa fa-plus" style="font-size: .75em; vertical-align: middle; margin-bottom: 3px"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="addMore">
                                <div style="vertical-align:middle" th:each="requirement : ${danger.getRequirements()}">
                                    <span th:text="${requirement.getRequirementName()}"></span>
                                    <form class="edit-delete"
                                          th:action="@{/removeRequirementAndDangerButton}"
                                          method="post">
                                        <input type="hidden" name="requirementId" th:value="${requirement.requirementId}"/>
                                        <input type="hidden" name="dangerId" th:value="${danger.dangerId}"/>
                                        <button th:type="submit" class="btn btn-primary-remove">
                                            <i class="fa fa-minus"
                                               style="font-size: .75em; vertical-align: middle; margin-bottom: 10px"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="actionButtons">
                        <form class="edit-delete" th:action="@{/danger/{path}(path=${danger.dangerId})}" method="post">
                            <button th:type="submit" class="btn btn-primary-edit">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </form>
                        <form class="edit-delete" th:action="@{/deleteDanger/{path}(path=${danger.dangerId})}" method="post">
                            <button th:type="submit" class="btn btn-danger-delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="js/sort.js"></script>
</body>
</html>