<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Edit Process</title>

    <style>
        .processTable {
            margin: 100px;
            text-align: center;
        }

        .selectComponent {
            width: 100px;
            text-align: center;
        }
    </style>
</head>

<body style="align-content: center">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">BIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Nichts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nichts</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<h3>Einen Prozess bearbeiten</h3>
<div style="border: 2px solid darkgrey; width: fit-content; align-content: center">
    <form th:action="@{/editProcess/{path}(path=${editProcess.processId})}" method="post">
        <p>Prozess ID:
        <p name="processId" type="text" th:text="${editProcess.getProcessId()}"/></p>
        <p>Prozesstitel: <input name="processName" type="text" th:value="${editProcess.getProcessName()}"/></p>
        <p th:if="${#fields.hasErrors('editProcess.processName') }" style="color: red">Ungültiger Name (name ist zu kurz)</p>
        <p>Schutzbedarf: <select name="protectionLevel" type = "text" th:value="${editProcess.getProtectionLevel()}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select></p>

        <p th:if="${#fields.hasErrors('editProcess.protectionLevel')}" style="color: red">Ungültiger Schutzbedarf</p>
        <p>Komponenten:
        <p name="componentId" type="text" th:each="component : ${editProcess.getComponents()}"
           th:text="${component.getComponentName()}"></p>
        <p><input type="submit" value="Prozess speichern"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
