<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/navbar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Edit Process</title>

    <style>
        .processTable {
            margin: 100px;
            text-align: center;
        }

        .selectComponent {
            width: 100px;
            text-align: center;
        }
    </style>
</head>

<body style="align-content: center">

<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" th:href="@{/dashboard}">BIS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/toDoList}">To-Do Liste</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tabellen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
        <a class="ml-auto mr-1">
            <form class="log" th:action="@{/logout}" method="post">
                <button th:type="logout" class="btn btn-danger">Logout</button>
            </form>
        </a>
    </div>
</nav>


<h3>Einen Prozess bearbeiten</h3>
<div style="border: 2px solid darkgrey; width: fit-content; align-content: center">
    <form th:action="@{/editProcess/{path}(path=${editProcess.processId})}" method="post">
        <p>Prozess ID:
        <p name="processId" type="text" th:text="${editProcess.getProcessId()}"/></p>
        <p>Prozesstitel: <input name="processName" type="text" th:value="${editProcess.getProcessName()}"/></p>
        <p th:if="${#fields.hasErrors('process.processName')}" th:errors="*{process.processName}" class="text-danger"></p>

        <p>Schutzbedarf: <select name="protectionLevel" type = "text" th:value="${editProcess.getProtectionLevel()}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select></p>
        <p th:if="${#fields.hasErrors('process.protectionLevel')}" th:errors="*{process.protectionLevel}" class="text-danger"></p>

        <p>Komponenten:
        <p name="componentId" type="text" th:each="component : ${editProcess.getComponents()}"
           th:text="${component.getComponentName()}"></p>
        <p><input type="submit" value="Prozess speichern"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
