<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/navbar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Edit Component</title>

    <style>
        .processTable {
            margin: 100px;
            text-align: center;
        }

        .selectComponent {
            width: 100px;
            text-align: center;
        }
    </style>
</head>

<body style="align-content: center">

<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" th:href="@{/dashboard}">BIS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/toDoList}">To-Do Liste</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tabellen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
        <a class="ml-auto mr-1">
            <form class="log" th:action="@{/logout}" method="post">
                <button th:type="logout" class="btn btn-danger">Logout</button>
            </form>
        </a>
    </div>
</nav>


<h3>Einen Komponent bearbeiten</h3>
<div style="border: 2px solid darkgrey; width: fit-content; align-content: center">
    <form th:action="@{/editComponent/{path}(path=${editComponent.componentId})}" method="post">
        <p>Komponenten ID:
        <p name="componentId" type="text" th:text="${editComponent.getComponentId()}"/></p>
        <p th:if="${#fields.hasErrors('component.componentId')}" th:errors="*{component.componentId}" class="text-danger"></p>

        <p>Komponententitel: <input name="componentName" type="text" th:value="${editComponent.getComponentName()}"/></p>
        <p th:if="${#fields.hasErrors('component.componentName')}" th:errors="*{component.componentName}" class="text-danger"></p>

        <p>Letze Attacke: <input name="lastAttack" type="date" th:value="${editComponent.getLastAttack()}"/></p>
        <p th:if="${#fields.hasErrors('component.lastAttack')}" th:errors="*{component.lastAttack}" class="text-danger"></p>

        <p>Aufkommen: <select name="occurrence" type = "text" th:value="${editComponent.getOccurrence()}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select></p>
        <p th:if="${#fields.hasErrors('component.occurrence')}" th:errors="*{component.occurrence}" class="text-danger"></p>

        <p>Priorität: <select name="priority" type = "text" th:value="${editComponent.getPriority()}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></p>
        <p th:if="${#fields.hasErrors('component.priority')}" th:errors="*{component.priority}" class="text-danger"></p>

        <p>Prozess:
        <div th:if ="${editComponent.getProcess()} != ${null}">
        <p name="processId" type="text"
           th:text="${editComponent.getProcess().getProcessName()}"/></p>
        </div>
        <p><input type="submit" value="Komponent speichern"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
