<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="background-color: dodgerblue">
    <h1 style="color: floralwhite">Bedrohungsindentifizierungssystem - BIS</h1>
</div>
<p style="text-align: center">
    Willkommen im Bedrohungsidentifizierungssystem BIS.</br>
    Bitte loggen Sie sich mit Ihren Login-Daten ein, die Sie von Ihrem Administrator erhalten haben. </br>
    Anmerkung: Demonstrationsweise kann man sich mit dem Username: Max und Passwort: 12345 einloggen. </br></br>
</p>

<div class="content" style="background: dodgerblue; width: fit-content; alignment: bottom">
    <div class="content" style="margin: auto; display: block; width: 30%">
        <a th:href="@{/dashboard}">
            <button th:type="submit" class="btn btn-primary"> Enter </button>
        </a>
        </br>
        </br>
    </div>
</div>

</body>
</html>
<style>
    .btn {
        margin-top: 30px;
        width: 100%;
    }
    input {
        width: 100%;
        height: 35px;
        padding: 12px 20px;
    }
    div.content {
        margin-top: 10px;
    }
</style>





