<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="background-color: dodgerblue">
    <h1 style="color: floralwhite">Bedrohungsindentifizierungssystem - BIS</h1>
</div>
<p style="text-align: center">
    Willkommen im Bedrohungsidentifizierungssystem BIS.</br>
    Bitte loggen Sie sich mit ihren Login-Daten ein, die Sie von Ihrem Administrator erhalten haben. </br>
    Anmerkung: Demonstrationsweise kann man sich mit dem Username: Max und Passwort: 12345 einloggen. </br></br>
</p>

<div class="content" style="background: dodgerblue; width: fit-content; alignment: bottom">
    </br>
    <div style="margin: auto; display: block; width: 30%">
        <form th:action="@{/login}" method="post">
            <div class="error" th:if="${param.error}">
                <p class="error">Ungültiger Username oder ungültiges Passwort.</p>
            </div>
            <div class="content">
                <label style="color: floralwhite"><b>Username</b></label>
                <input type="username" name="username" placeholder="Username"/>
            </div>
            <div class="content">
                <label style="color: floralwhite"><b>Password</b></label>
                <input type="password" name="password" placeholder="Passwort"/>
            </div>
            <button th:type="submit" class="btn btn-primary" id="myBtn"> Login </button>
            </br>
            </br>
        </form>
    </div>
</div>



</body>
</html>
<style>
    .btn {
        margin-top: 30px;
        width: 100%;
    }
    input {
        width: 100%;
        height: 35px;
        padding: 12px 20px;
    }
    div.content {
        margin-top: 10px;
    }

    div.error {
        width: 100%;
        color:floralwhite;
        background: firebrick;
        padding: 12px 12px;
        text-align: center;
        display: table;
        vertical-align: middle;
    }
</style>
