<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/navbar.css">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Processes</title>

</head>

<body>

<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" th:href="@{/dashboard}">BIS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/toDoList}">To-Do Liste</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tabellen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
        <a class="ml-auto mr-1">
            <a th:href="@{/newPassword}" style="margin-right: 30px; font-size: 1.33em">
                <i class="fa fa-user"></i>
            </a>
            <form class="log" th:action="@{/logout}" method="post">
                <button th:type="logout" class="btn btn-danger">Logout</button>
            </form>
        </a>
    </div>
</nav>

<!-- Prozesstabelle -->

<p>
    <input type="button" value="Create PDF" id="btPrint" onclick="createPDF()" />
</p>

<div style="display: flex; flex-direction: column; align-items: flex-end">
    <input type="search" class="light-table-filter" data-table="table" placeholder="Suche">
</div>

<!--<form class="createButton" th:action="@{/addComponentButton}" method="post">
    <button th:type="submit" class="btn btn-primary"> Komponent hinzufügen
    </button>
</form>-->
<div class="wrapper">
    <div class="contentTable">

        <div class="topLine">
            <div>
                <h2 style="font-weight: 700; font-size: 20px; text-align: left">Prozesstabelle</h2>
            </div>
            <div>
                <form class="createButton" th:action="@{/createProcessButton}" method="post">
                    <button th:type="submit" class="btn btn-primary-newAdd">
                        <i class="fa fa-plus"><span style="font-weight: 500">Neuer Prozess</span></i>
                    </button>
                </form>
            </div>
        </div>
        <div id="pdfBox">
        <table id="myTable" class="table">
            <thead class="thead-theme">
            <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Prozess ID</span></i></th>
            <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Prozesstitel</span></i></th>
            <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Schutzbedarf</span></i></th>
            <th class="textContent" scope="col"><i class="fa fa-sort" aria-hidden="true"><span>Komponenten</span></i></th>
            <th class="actionButtons" scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="process : ${processes}" th:if="${process.processId} != 0">
                <div class="scrollable">
                    <td class="textContent" th:text="${process.processId}"/>
                    <td class="textContent" th:text="${process.processName}"/>
                    <td class="textContent" th:text="${process.protectionLevel}"/>
                    <td class="textContent">
                        <div>
                            <div class="addMore" style="margin-right: 10px">
                                <form class="edit-delete" th:action="@{/addComponentButton(processId=${process.processId}, componentId=${process.getComponents()})}" method="post">
                                    <button th:type="submit" class="btn btn-primary-add">
                                        <i class="fa fa-plus" style="font-size: .75em; vertical-align: middle; margin-bottom: 3px"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="addMore">
                                <div style="vertical-align:middle" th:each="component : ${process.getComponents()}">
                                    <span th:text="${component.getComponentName()}"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </div>
                <td class="actionButtons">
                    <form class="edit-delete" th:action="@{/process/{path}(path=${process.processId})}" method="post">
                        <button th:type="submit" class="btn btn-primary-edit">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </form>
                    <form class="edit-delete" th:action="@{/deleteProcess/{path}(path=${process.processId})}" method="post">
                        <button th:type="submit" class="btn btn-danger-delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/sort.js"></script>
<script type="text/javascript" src="js/exportTable.js"></script>
<script type="text/javascript" src="js/searchWholeTable.js"></script>
</body>
</html>
