<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/navbar.css">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>User</title>

</head>

<body>

<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" th:href="@{/dashboard}">BIS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/toDoList}">To-Do Liste</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tabellen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/process}">Prozess</a>
                    <a class="dropdown-item" th:href="@{/component}">Komponenten</a>
                    <a class="dropdown-item" th:href="@{/requirement}">Anforderungen</a>
                    <a class="dropdown-item" th:href="@{/danger}">Gefahren</a>
                    <a class="dropdown-item" th:href="@{/action}">Maßnahmen</a>
                    <a class="dropdown-item" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">Benutzer</a>
                </div>
            </li>
        </ul>
        <a class="ml-auto mr-1">
            <form class="log" th:action="@{/logout}" method="post">
                <button th:type="logout" class="btn btn-danger">Logout</button>
            </form>
        </a>
    </div>
</nav>

<h2>Benutzertabelle</h2>
<!-- Benutzertabelle -->
<form class="createButton" th:action="@{/createUserButton}" method="post">
    <button th:type="submit" class="btn btn-primary"> Neuen Benutzer erstellen
    </button>
</form>
<form class="createButton" th:action="@{/addUserToComponentButton}" method="post">
    <button th:type="submit" class="btn btn-primary"> Benutzer Komponent zuweisen
    </button>
</form>
<div class="contentTable">
    <table id="myTable" class="table">
        <thead class="thead-theme">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Rolle</th>
            <th scope="col">Komponenten</th>
            <th scope="col">Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"/>
            <td th:text="${user.firstname}"/>
            <td th:text="${user.lastname}"/>
            <td>
                <p th:each="role : ${user.getRole()}">
                    <span th:text="${role.getRole()}"/>
                </p>
            </td>
            <td>
                <p th:each="component : ${user.getComponents()}">
                    <span th:text="${component.getComponentName()}"></span>
                </p>
            </td>
            <td>
                <form class="edit-delete" th:action="@{/user/{path}(path=${user.username})}" method="post">
                    <button th:type="submit" class="btn btn-primary-edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                </form>
                <form class="edit-delete" th:action="@{/deleteUser/{path}(path=${user.username})}" method="post">
                    <button th:type="submit" class="btn btn-danger-delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="js/sort.js"></script>
</body>
</html>